:root {
    --nav-height: 70px;
    --primary-color: #10b981;
    --bg-white: #ffffff;
    --text-main: #1e293b;
    --text-muted: #64748b;
    --transition-speed: 0.4s;
    --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    background-color: #f8fafc;
}


/* Hero section */

